main {
    letter-spacing: 0.3em;
}

input {
    letter-spacing: 0.2em;
}

.ba {
    border-style: solid;
    border-width: 0.3px;
}

.primary-bg {
    background-color: rgba(13, 20, 30, 0.8);
}

.measure {
    max-width: 35em;
}

.black-input {
    /* background-color: #000000; */
    background-color: rgba(0, 0, 0, 0.3);
}